<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Bookstore</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Bookstore</h1>
		<table>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Year</th>
				<th>ISBN</th>
				<th>Price</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}">Title</td>
				<td th:text="${book.author}">Author</td>
				<td th:text="${book.publicationYear}">2000</td>
				<td th:text="${book.isbn}">ISBN</td>
				<td th:text="${book.price}">0.0</td>
			</tr>
		</table>
	</body>
</html>
